@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

    * {
        box-sizing: border-box; /*padding e border entram dentro do width, não somam ao tamanho total*/
    }
    body {
        margin: 0;
        padding:0;
        color: #ffff;
        font-family: "JetBrains Mono";
        background: rgb(51, 50, 50);
        }
        nav {
            display: flex;
            padding-right: 100px;
            align-items: baseline;
            width: 100%;
            justify-content: space-between;
            position: relative; /*para ativar o after*/
        }
        nav::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px; background: linear-gradient(90deg, transparent, rgba(167, 139, 250, 0.8), transparent);
            box-shadow: 0 0 8px rgba(167, 139, 250, 0.3);
        }
        .logo {
            display: flex;
            padding-left: 40px;
            justify-content: center;
            color: rgb(144, 9, 206);
            font-size: 26px;
            text-decoration: none;

        }
        .links-nav ul {
            display: flex;
            gap: 26px;
            list-style: none;
            text-decoration: none;
            font-size: 18px;
        }
        .links-nav a {
            text-decoration: none;
            color: white;
        }
    
        h1, h2, p, li nav {
            font-family: "JetBrains Mono", monospace;
        }
        
        .links-nav a:hover {
            color: rgb(144, 114, 95);
        }
        /*nevagação encerrada*/
        #sobre-mim {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 40px;
        }
        #sobre-mim .saudacao {
            color: #a78bfa;
            font-size: 18px;
            font-family:"JetBrains Mono", monospace;
        }
        .titulo-nome {
            color: #f8fafc;
            font-size: 48px;
            font-family:"Space Grotesk", sans-serif;
        }
        .nao-sei {
            color: #8b5cf6;
            font-family: "JetBrains Mono", monospace;
        }
       
        #sobre-mim p {
            color: #cbd5e1;
            font-size: 16px;
        }
        .bloco1 {
            display:flex;
            flex-direction: row-reverse; 
            padding: 20px 50px 50px 50px;   
        }
        h4 {
            font-size: 20px;
        }
        .minha-foto {
            display: flex;
            width: 450px;
            height: 450px;
            border-radius: 50%;
            padding: 10px;
            margin-right: 10px;
            margin: 10px 50px;
            object-fit: cover;

        }
        .minha-foto img {
            clip-path: circle(50%);
        } 
        #sobre-mim ul {
            display: flex;
            list-style: none;
            font-size: 20px;
            flex-direction: column;
            padding: 0;
            margin: 0;
            gap: 20px;
            color: #cbd5e1;
        }
        #sobre-mim h2 {
            font-size: 30px;
            text-align: left;
            color: #f0f4f8;
        }
        #sobre-mim p {
            font-size: 20px;
            color: #cbd5e1;
        }
        /*Bloco 2*/
        #habilidades-e-ferramentas img {
            display: flex;
            width: 180px;
            height: 180px;
            
        }
        #habilidades-e-ferramentas h2 {
            font-size: 40px;
            display: flex;
            justify-content: center;
        }
        .fotos-ferramentas{
            display: flex;
            justify-content: center;
            gap: 40px;
            padding: 40px;
            background: rgb(66, 65, 65);
        }
        /*Bloco3*/
        #projetos {
            display: flex;
            gap: 20px;
            flex-direction: column;.card-projeto {
            background: #232936;
            border: 1px solid #334155;
            border-radius: 12px;
}
        }
        #projetos h2 {
            display: flex;
            justify-content: center;
            font-size: 38px;
        }
        .links-projetos {
            display: flex;
            border: 8px solid black;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
        }
        #projetos a {
            display: flex;
            gap: 20px;
            border: 4px solid red;

        } 
        

        /*ver melhor cor para os textos
        tirar bordas coloridas
        colocar click no botão
        responsividade
        */
    